# Dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
.next/
out/
build/
dist/

# Testing & Coverage
coverage/

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Misc & Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
*.pem

# Local environment files
.env
.env*.local

# Vercel
.vercel

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
